/* Global Styles */

/*
Color Palette Reference:
Background: 252433
Secondary: 3A3956
Primary: FBFEFD
Red: C93200
Yellow: AD8500
Blue: 405FBE
Purple: 933EE3
*/

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}

.root {
  -fx-background-color: #252432;
  -fx-font-size: 12px;
}

/* Grid Pane Styles */
GridPane {
  -fx-background-color: #252432;
}

/* Anchor Pane Styles */
AnchorPane {
  -fx-background-color: #252432;
}

/* VBox Styles */
VBox {
  -fx-background-color: #252432;
}

/* Label Styles */
Label {
  -fx-text-fill: #FBFEFD;
    -fx-font-family: 'Montserrat';
}

Title {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-padding: 10 0 10 0;
}

/* Button Styles */
Button {
  -fx-background-color: #FBFEFD;
  -fx-text-fill: #252432;
  -fx-padding: 5 15 5 15;
  -fx-cursor: hand;
  -fx-background-radius: 3;
}

Button:hover {
  -fx-background-color: #3A3956;
}

/* Text Field Styles */
TextField {
  -fx-background-color: #252432;
  -fx-border-color: #3A3956;
  -fx-border-radius: 3;
  -fx-padding: 10;
  -fx-text-fill: #FBFEFD;
}

/* Slider Styles */
Slider {
  -fx-background-color: #252432;
}

Slider .thumb {
  -fx-background-color: #FBFEFD;
  -fx-background-radius: 100;
}

Slider .track {
  -fx-background-color: #3A3956;
  -fx-background-radius: 5;
}

Slider .track:pressed {
  -fx-background-color: #FBFEFD;
}

Slider .thumb:hover {
  -fx-background-color: #FBFEFD;
}

/* Combobox Styles */
ComboBox {
  -fx-background-color: #252432;
  -fx-border-color: #3A3956;
  -fx-border-radius: 3;
  -fx-padding: 5;
  -fx-text-fill: #FBFEFD;
}

ComboBox .list-cell {
  -fx-text-fill: #FBFEFD;
  -fx-background-color: transparent;
}

.combo-box-popup .list-view {
  -fx-background-color: #252432;
  -fx-border-color: #3A3956;
}

.combo-box-popup .list-cell {
  -fx-background-color: #252432;
  -fx-text-fill: #FBFEFD;
  -fx-padding: 5;
}

.combo-box-popup .list-cell:hover {
  -fx-background-color: #3A3956;
}

.combo-box-popup .list-cell:selected {
  -fx-background-color: #3A3956;
  -fx-text-fill: #FBFEFD;
}

/* Scroll Bar Styles */
.scroll-bar {
  -fx-background-color: #252432;
}

.scroll-bar .thumb {
  -fx-background-color: #3A3956;
  -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
  -fx-background-color: #FBFEFD;
}

/* Tab Pane Styles */
TabPane {
  -fx-tab-min-width: 80px;
}

Tab {
  -fx-background-color: #252432;
  -fx-padding: 5 10 5 10;
}

Tab:selected {
  -fx-background-color: #3A3956;
}
