/* Global Styles */

/*
Color Palette Reference:
Background: 252433
Secondary: 3A3956
Primary: FBFEFD
Red: C93200
Yellow: AD8500
Blue: 405FBE
Purple: 933EE3
*/

/* @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
} */

.root {
  -fx-background-color: #252432;
}


/* Label Styles */
Label {
    -fx-font-family: 'Montserrat';
  -fx-text-fill: #FBFEFD;

}

Title, Title:hover {
    -fx-font-family: 'Montserrat';
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-padding: 10 0 10 0;
}

/* Button Styles */
Button {
    -fx-font-family: 'Montserrat';
  -fx-background-color: #FBFEFD;
  -fx-text-fill: #252432;
  -fx-padding: 5 15 5 15;
  -fx-cursor: hand;
  -fx-background-radius: 10;
}

Button:hover {
  -fx-opacity: 0.8;
}

/* Dashboard Button Styles */
.DashboardButton {
  -fx-text-fill: #FBFEFD;
}

.DashboardButton:hover {
  -fx-opacity: 0.8;
}

.DashboardButtonRace {
  -fx-background-color: #C93200;
}

.DashboardButtonShop {
  -fx-background-color: #933EE3;
}

.DashboardButtonGarage {
  -fx-background-color: #405FBE;
}

/* Text Field Styles */
TextField {
    -fx-font-family: 'Montserrat';
  -fx-background-color: #252432;
  -fx-border-color: #3A3956;
  -fx-border-radius: 10;
  -fx-padding: 10;
  -fx-text-fill: #FBFEFD;
}

/* Slider Styles */
Slider {
    -fx-font-family: 'Montserrat';
  -fx-background-color: #252432;
}

Slider .thumb {
  -fx-background-color: #FBFEFD;
  -fx-background-radius: 100;
  -fx-cursor: hand;
}

Slider .track {
  -fx-background-color: #3A3956;
  -fx-background-radius: 10;
}

Slider .thumb:hover {
  -fx-opacity: 0.8;
}

/* Combobox Styles */
ComboBox {
    -fx-font-family: 'Montserrat';
  -fx-background-color: #252432;
  -fx-border-color: #3A3956;
  -fx-border-radius: 10;
  -fx-padding: 5;
  -fx-text-fill: #FBFEFD;
  -fx-cursor: hand;
}

ComboBox .list-cell {
  -fx-text-fill: #FBFEFD;
  -fx-background-color: transparent;
}

.combo-box-popup {
  -fx-font-family: 'Montserrat';
}

.combo-box-popup .list-view {
  -fx-background-color: #252432;
  -fx-border-color: #252432;
  -fx-border-radius: 10;
  -fx-cursor: hand;
}

.combo-box-popup .list-cell {
  -fx-background-color: #252432;
  -fx-text-fill: #FBFEFD;
  -fx-padding: 5;
}

.combo-box-popup .list-cell:hover {
  -fx-opacity: 0.8;
}

.combo-box-popup .list-cell:selected {
  -fx-background-color: #3A3956;
  -fx-text-fill: #FBFEFD;
  -fx-background-radius: 10;
}

/* Progress Bar Styles */
ProgressBar {
  -fx-font-family: 'Montserrat';
  -fx-background-color: transparent;
  -fx-accent: #3A3956;
}

ProgressBar > .track {
    -fx-background-color: #252432;
    -fx-background-radius: 10;
}

ProgressBar .bar {
    -fx-background-color: #AD8500;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

/* Tab Pane Styles */
TabPane {
  -fx-tab-min-width: 80px;
  -fx-background-color: #252432;
}

TabPane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding:0 10 0 0;
}

.tab {
  -fx-background-color: #252432;
  -fx-padding: 5;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: #3A3956;
  -fx-border-radius: 10 10 0 0;
}

.tab:selected {
  -fx-background-color: #3A3956;
}

.tab:selected .focus-indicator {
  -fx-border-radius: 10 10 0 0, 10 10 0 0;
    -fx-border-insets: -6 -9 -8 -8, -5 -8 -7 -7;
}

.tab-header-area .tab{
    -fx-padding:4 10 5 10;
    -fx-background-radius: 10 10 0 0;
}

/* Shop Pane Styles */
.shop-pane {
    -fx-background-color: #3A3956;
}

/* Stack Pane Styles */
StackPane {
    -fx-background-color: #252432;
}

/* Grid Pane Styles */
GridPane {
    -fx-background-color: transparent;
}

/* Anchor Pane Styles */
AnchorPane {
    -fx-background-color: #252432;
}

/* VBox Styles */
VBox {
    -fx-background-color: #252432;
}

/* ScrollPane Styles */
ScrollPane {
    -fx-background-color: #252432;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #3A3956;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-opacity: 0.8;
}